@font-face {
    font-family: "Segoe UI";
    src: url("https://resources.office.com/rs/157-GQE-382/images/latest.eot");
    src: local("Segoe UI"), url("https://resources.office.com/rs/157-GQE-382/images/latest.eot?#iefix") format("embedded-opentype"), url("https://resources.office.com/rs/157-GQE-382/images/latest.woff") format("woff"), url("https://resources.office.com/rs/157-GQE-382/images/latest.ttf") format("truetype"), url("https://resources.office.com/rs/157-GQE-382/images/latest.svg#web") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Segoe UI Semibold";
    src: url("https://resources.office.com/rs/157-GQE-382/images/latestsemibold.eot");
    src: local("Segoe UI Semibold"), url("https://resources.office.com/rs/157-GQE-382/images/latestsemibold.eot?#iefix") format("embedded-opentype"), url("https://resources.office.com/rs/157-GQE-382/images/latestsemibold.woff") format("woff"), url("https://resources.office.com/rs/157-GQE-382/images/latestsemibold.ttf") format("truetype"), url("https://resources.office.com/rs/157-GQE-382/images/latestsemibold.svg#web") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Segoe UI Semilight";
    src: url("https://resources.office.com/rs/157-GQE-382/images/latestsemilight.eot");
    src: local("Segoe UI Semilight"), url("https://resources.office.com/rs/157-GQE-382/images/latestsemilight.eot?#iefix") format("embedded-opentype"), url("https://resources.office.com/rs/157-GQE-382/images/latestsemilight.woff") format("woff"), url("https://resources.office.com/rs/157-GQE-382/images/latestsemilight.ttf") format("truetype"), url("https://resources.office.com/rs/157-GQE-382/images/latestsemilight.svg#web") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Segoe UI Light";
    src: url("https://resources.office.com/rs/157-GQE-382/images/latestlight.eot");
    src: local("Segoe UI Semilight"), url("https://resources.office.com/rs/157-GQE-382/images/latestlight.eot?#iefix") format("embedded-opentype"), url("https://resources.office.com/rs/157-GQE-382/images/latestlight.woff") format("woff"), url("https://resources.office.com/rs/157-GQE-382/images/latestlight.ttf") format("truetype"), url("https://resources.office.com/rs/157-GQE-382/images/latestlight.svg#web") format("svg");
    font-weight: normal;
    font-style: normal
}